/* create 1920px container */
.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

/* header css with navigation */
header {
    display: inline-flex;
    padding: 46px 320px 45px 320px;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    max-width: inherit;
    width: inherit;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

ul {
    display: flex;
    height: 28px;
    justify-content: center;
    align-items: flex-start;
    gap: 68px;
}

.navigation {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
}

.main_navigation {
    color: #DCB47A;
}

.bag {
    width: 32px;
    height: 36.571px;
}

/* creating first section css */
.section1 {
    display: flex;
    height: 784px;
    position: relative;
    padding-top: 129px;
}

.picture1 {
    width: 100%;
    height: 100%;
}

/* picture text with blur */
.picture_text {
    width: calc(1128 / 1920 * 100%);
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 82px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 20px 4px 0px rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(10px);
    padding: 56px 120px 55px 120px;
}

/* start second section */
.section2 {
    padding: 120px 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.seller_product {
    
    color: #E08C11;
    font-family: Work Sans;
    font-size: 75px;
    font-weight: 600px;
    margin-bottom: 81px;
}

.products_div {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 390px;
    padding: 30px 41px;
    border-radius: 40px;
    border: 3px solid #DCB47A;
}

.product_pic {
    width: 100%;
    height: 225px;
}

.modern_pic {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400px;
    margin-top: 20px;
    margin-bottom: 8px;
}
.price_icon{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price {
    color: #E08C11;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.cart {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #DCB47A;
}